@model DAL.Modelo.TdcTchEstadoPedido

@{
    ViewData["Title"] = "Delete";
}

<!-- Página para eliminar los campos de las líneas de distribución -->

<h3>¿Seguro que quieres eliminarlo?</h3>

<div>
    <h4>Estado de los pedidos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdUuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdUuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEstadoDevolucionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEstadoDevolucionNavigation.CodEstadoDevolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEstadoEnvioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEstadoEnvioNavigation.CodEstadoEnvio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEstadoPagoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEstadoPagoNavigation.CodEstadoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodLineaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodLineaNavigation.CodLinea)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
