@model IEnumerable<DAL.Modelo.TdcTchEstadoPedido>

@{
    ViewData["Title"] = "Index";
}

<!-- Página principal para ver el estado del pedido -->

<h1>Index</h1>

<p>
    <a asp-action="Create">Añadir</a>
</p>

<!-- Método para mostrar el filtrado por la vista-->

<form asp-controller="TdcTchEstadoPedidoes" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-primary"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MdUuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEstadoDevolucionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEstadoEnvioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEstadoPagoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodLineaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MdUuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoDevolucionNavigation.CodEstadoDevolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoEnvioNavigation.CodEstadoEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoPagoNavigation.CodEstadoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodLineaNavigation.CodLinea)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
