@model IEnumerable<DAL.Modelo.TdcCatLineasDistribucion>

@{
    ViewData["Title"] = "Index";
}

<!-- Página principal para ver la categoría de las líneas de distribución -->

<h1>Index</h1>

<p>
    <a asp-action="Create">Añadir</a>
</p>

<!-- Método para mostrar el filtrado por la vista-->

<form asp-controller="TdcCatLineasDistribucions" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-primary"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodLinea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodProvincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodMunicipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodBarrio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodLinea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodProvincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodMunicipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodBarrio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodLinea">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodLinea">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodLinea">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
