@model DAL.Modelo.TdcCatEstadosDevolucionPedido

@{
    ViewData["Title"] = "Delete";
}

<!-- Página para eliminar los campos del estado de devolución del pedido -->

<h1>Eliminar</h1>

<h3>¿Seguro que quieres eliminarlo?</h3>
<div>
    <h4>Estado de devolución del pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEstadoDevolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEstadoDevolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesEstadoDevolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesEstadoDevolucion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MdUuid" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>