@model IEnumerable<DAL.Modelo.TdcCatEstadosDevolucionPedido>

@{
    ViewData["Title"] = "Index";
}

<!-- Página principal para ver el estado de devolución del pedido -->

<h1>Estado de devolución del pedido</h1>

<p>
    <a asp-action="Create">Añadir</a>
</p>

<!-- Método para mostrar el filtrado por la vista-->

<form asp-controller="TdcCatEstadosDevolucionPedidoes" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-primary"/>
    </p>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEstadoDevolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesEstadoDevolucion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoDevolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesEstadoDevolucion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodEstadoDevolucion">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CodEstadoDevolucion">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CodEstadoDevolucion">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>